<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Sqlite" version="6.0.6" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.6" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.9.0" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.9.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.0.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="Yolov5Net" version="1.0.9" targetFramework="net48" />
</packages>